.a1
{
    text-align: center;
    color: blue;
    text-transform: uppercase;
    font-size: large;
    font-weight: 300;
    font-variant-numeric: lining-nums;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}